@import "styles/globals/mixins.scss";

.link {
  box-shadow: 0 0.125rem $trello-text--faded;
  background-color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  display: block;

  @include focus {
    @include single-box($trello-text--faded);
  }
}

.link + .link {
  margin-top: 0.5rem;
}

.name {
  margin-right: 0.5rem;
}

div.green_badge {
  background-color: $green;
}

div.pink_badge {
  background-color: pink;
}
